<div class="row top15 cars-list-row">
    <div class="col-md-4">
        {{image-preview imageURI=car.image}}
    </div>

    <div class="col-md-1">
        {{car.brand}}
    </div>

    <div class="col-md-5">
        {{car.description}}
    </div>

    <div class="col-md-2">
        {{yield}}
    </div>
</div>
