.small-thumbnail-default-placeholder {
    background-image: url('/assets/images/placeholder-150x150.png');
    height: 150px;
    width: 150px;
}

.small-thumbnail {
    height: 150px;
    width: 150px;
}

.image-preview-full-image {
    /* TODO: get these values from configuration file*/
    max-width: 1200px;
    max-height: 1200px;
}
