<div class="row">
    <div class="col-md-6">
        <h2>Brand over picking history</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        {{car-picking-statistics data=model}}
    </div>
</div>

{{outlet}}
