<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>Pick a Car, Carl!</h1>

                {{#unless isStorageAvailable}}
                    <h3 class="text-danger">
                        Local storage is not available. Changes will not be stored.
                    </h3>
                {{/unless}}
            </div>

        </div>

    </div>
    {{outlet}}
</div>
