<div class="row">
    <div class="column-md-6">
        <nav>
            <ul class="nav nav-tabs">
                {{#nav-link-to 'cars.index' tagName='li'}}Cars{{/nav-link-to}}
                {{#nav-link-to 'cars.statistics' tagName='li'}}Your cars{{/nav-link-to}}
                {{#nav-link-to 'cars.favorites' tagName='li'}}Statistics{{/nav-link-to}}
            </ul>
        </nav>
    </div>
</div>

{{outlet}}
