<div class="row">
    <div class="col-md-6">
        <nav>
            <ul class="nav nav-tabs">
                {{#nav-link-to 'cars.index' tagName='li'}}
                    {{t 'cars.nav-menu-links.cars-index'}}
                {{/nav-link-to}}

                {{#nav-link-to 'cars.favorites' tagName='li'}}
                    {{t 'cars.nav-menu-links.cars-favorites'}}
                {{/nav-link-to}}

                {{#nav-link-to 'cars.statistics' tagName='li'}}
                    {{t 'cars.nav-menu-links.cars-statistics'}}
                {{/nav-link-to}}
            </ul>
        </nav>
    </div>
</div>

{{outlet}}
